

<div class="center-text landing-banner">
  <div class="lb-text">
    <h2 class="mb-4">¡Te ayudamos a encaminarT en tu travesia laboral más deseable!</h3>
    <h5>¡Vacantes, contenido educativo, consejos, y mucho mas!</h3>
  </div>
</div>
<div class="container">
  <div class="row center-text justify-content-center mt-3">
    <div class="col-3">
      <div class="landing-card">
        <div class="landing-card-image m-3">

        </div>
        <p class="mx-2 my-0">Aplica a alguna de nuestras vacantes en todo tipo de inustrias</p>
        <div class="row justify-content-center my-2">
          <div class="landing-card-button my-1">
            VACANTES
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="landing-card">
        <div class="landing-card-image m-3">

        </div>
        <p class="mx-1 my-0">Lee nuestros consejos para aprender más sobre la búsqueda de trabajo</p>
        <div class="row justify-content-center my-2">
          <div class="landing-card-button my-1">
            ENTREVISTA
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="landing-card">
        <div class="landing-card-image m-3">

        </div>
        <p class="mx-3 my-0">Crea to hoja de vida usando nuestra guía y nuestros consejos</p>
        <div class="row justify-content-center my-2">
          <div class="landing-card-button my-1">
            HOJA DE VIDA
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
