

<div class="center-text">
  <h2>¡Te ayudemos en encaminaT en tu travesia laboral más deseable!</h3>
  <h3>Con esta fuente, podemos mostrar puntos.</h3>
  <p>Vacantes, contenido educativo, consejos, y mucho mas!</p>
</div>
