

<div class="container">
  <div class="center-text">
    <h4>¡Te ayudamos a encaminarT en tu travesia laboral más deseable!</h3>
    <h5>¡Vacantes, contenido educativo, consejos, y mucho mas!</h3>
  </div>
  <div class="row center-text justify-content-center">
    <div class="col-3">
      <div class="landing-card">
        <div class="landing-card-image m-3">
          image 1
        </div>
        <p class="mx-1 my-0">Aplica a alguna de nuestras vacantes en todo tipo de inustrias</p>
        <div class="row justify-content-center my-2">
          <div class="landing-card-button align-middle">
            VACANTES
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="landing-card">
        <div class="landing-card-image m-3">
          image 2
        </div>
        <p>Lee nuestros consejos para aprender más sobre la búsqueda de trabajo</p>
      </div>
    </div>
    <div class="col-3">
      <div class="landing-card">
        <div class="landing-card-image m-3">
          image 3
        </div>
        <p>Crea to hoja de vida usando nuestra guía y nuestros consejos</p>
      </div>
    </div>
  </div>
</div>
