.navbar-encaminat {
  justify-content: space-between;
  background: $dblue;
}

.navbar-encaminat .navbar-collapse {
  flex-grow: 0;
}

.navbar-encaminat .navbar-brand img {
  width: 50px;
}

 .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.navbar-toggler-icon {
  background-image: url("encaminat-lb.png");
}

#navbar {
  height: 60px;
}
